body {
  color: #444;
  font-size: 14px;
  max-width: 1480px;
  margin: 0 auto;
  padding: 30px;
  background-color: rgb(255, 248, 239);
}

a {
  text-decoration: none;
  color: #333;
  display: block;
}

img {
  display: block;
  width: 250px;
  height: 300px;
  object-fit: cover;
  margin-right: 20px;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;

}

.description img {
  width: 13%;
  height: 100%;
}

.description table {
  font-size: 18px;
  width: 40%;
  height: 100%;
  margin-left: 20px;
}

table tr {
  height: 30px;
}

table td {
  padding: 5px;
}

table .title {
  font-weight: 700;
  font-size: 20px;
  border-bottom: 1px solid #222;
}

section {
  margin-top: 50px;
}

section h2 {
  display: block;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 70px;
}

section ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section ul li {
  position: relative;
}

section ul li a {
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

section ul li:nth-child(1) a {
  background-image: url('/naver.png');
}

section ul li:nth-child(2) a {
  background-image: url('/오버워치.png');
}

section ul li:nth-child(3) a {
  background-image: url('/하얏트.png');
}

section ul li:nth-child(4) a {
  background-image: url('/넷플릭스.jpg');
}

section ul li:nth-child(5) a {
  background-image: url('샘플.jpg');
}

section ul li:nth-child(6) a {
  background-image: url('/스타벅스.jpeg');
}

section ul li:nth-child(7) a {
  background-image: url('/지니뮤직.png');
}

section ul li a span {
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  opacity: 0;
  transition: all .7s;
  transform: translateY(150px);
}

section ul li:hover a span {
  opacity: 1;
  transform: translateY(-20px);
}

section ul li:hover {
  transform: scale(1.2);
}

section ul li:last-child:hover {}

section ul li .cover {
  background-color: rgba(0, 0, 0, 0.5);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: 0;
}